<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="sql/memberSQL.xml"/>
		<mapper resource="sql/csCenterSQL.xml"/>
		<mapper resource="sql/poolSQL.xml"/>
		<mapper resource="sql/commSQL.xml"/>
		<mapper resource="sql/adminMemberSQL.xml"/>
		<mapper resource="sql/carCostSQL.xml"/>
		<mapper resource="sql/carBookInfoSQL.xml"/>
		<mapper resource="sql/adminPoolSQL.xml"/>
		<mapper resource="sql/myPageSQL.xml"/>
		<mapper resource="sql/yangVerMyPageSQL.xml"/>
		<mapper resource="sql/carInfoSQL.xml"/>
		<mapper resource="sql/poolStatusSQL.xml"/>
		<mapper resource="sql/adminReserveSQL.xml"/>
	</mappers>
	
</configuration>