@CHARSET "utf-8";

:lang(ko) {
    font-family: Arial,"Noto Sans KR","맑은고딕","Malgun Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,AppleSDGothicNeo,sans-serif,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Segoe UI Symbol","Android Emoji",EmojiSymbols;
}

#lnb li {
    float: left;
    position: relative;
    min-width: 112px;
    text-align: center;
    list-style: none;
}
#lnb a, #daytd a {
	
    display: block;
    width: 100%;
    padding: 0 5px;
    line-height: 36px;
    font-size: 14px;
}

#lnb {
    z-index: 0;
    width: 100%;
    min-width: 1024px;
    height: 36px;
    left: 0;
    top: 46px;
    background: #86E57F;
    text-align: center;
}
#lnb ul {
    overflow: hidden;
    display: inline-block;
    height: 100%;
}
button, dd, dl, dt, fieldset, ol, p, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

A:link {color: #1f3174; text-decoration: none}
A:active {color: #1f3174; text-decoration: none}
A:visited {color: #1f3174; text-decoration: none}
A:hover {color: #3366cc; text-decoration: none}

<!-- -->


.cPost {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.profileText {
    padding-left: 77px;
    height: 72px;
}

.postWriter .profileText .textName {
    display: block;
    color: #aaa;
    padding-right: 72px;
    font-weight: 400;
    height: 50px;
}
.textName .name {
    display: inline-block;
    max-width: 40%;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.profileText .textTime {
    color: #aaa;
    font-size: 12px;
}

.postText {
    padding: 0 20px 20px;
    word-wrap: break-word;
}

.postBody {
    padding-top: 11px;
}


.updatebutton {
	display: table-cell;
	width: 40px;
	text-align: rigth;
	float: right;
}

.searchWrap {
    position: relative;
 border: 1px solid #DDD;
 width:100%;
     height: 36px;
    z-index: 100;
    margin-bottom: 26px;
}
.gSrOnly {
    overflow: hidden!important;
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 1px!important;
    height: 1px!important;
    font-size: 0!important;
    line-height: 0!important;
}
.uInputSearch {
	position:relative;
   display: table;
	width:95%;
	height:35px;
    border-radius: 2px;
    text-align: right;
}
.uInputSearch input {
	display: table-cell;
	float:left;
	width: 80%;
    border: 0;
    line-height: 36px;
    padding-left: 20px;
    background: 0 0;
    display: inline-block;
}

.uInputSearch button{

    width: 40px;
	margin-top: 7px;

}
<!--  -->
.cPostWrite {
    position: relative;
    padding-bottom: 52px;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
    background: #FFF;
}
.cPostWrite .writeWrap {
    min-height: 73px;
}

ol, ul {
    list-style: none;
}

.cPostWrite .buttonArea ul {
    float: left;
    margin: 0 0 0 9px;
}
.cPostWrite .buttonArea li>button, .cPostWrite .buttonArea li>label {
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
    width: 64px;
    height: 52px;
    margin: 0;
    color: #d3d3d4;
    cursor: pointer;
    text-align: center;
}
.cPostWrite .buttonArea {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 52px;
    border-top: 1px solid #EEE;
}

.cPostWrite .buttonArea li {
    position: relative;
    float: left;
    font-size: 20px;
    color: #B5B5B8;
    padding-right: 10px;
}

.cPostWrite .buttonArea li .gSrOnly {
    position: absolute!important;
    top: auto!important;
    bottom: 4px;
    width: 64px!important;
    height: auto!important;
    font-size: 11px!important;
    text-align: center;
    line-height: 1.8!important;
    white-space: nowrap;
    color: #777;
}

.cPostWrite .mentions, .cPostWrite textarea {
    overflow: hidden;
    padding: 16px 20px 0;
    border: 1px;
    line-height: 1.54;
    font-size: 14px;
    vertical-align: top;
    word-wrap: break-word;
    white-space: pre-wrap;       
}

div {
    display: block;
}
.cPostWrite .buttonArea .buttonSubmit {
    float: right;
    margin: 10px 7px 0 0;
    text-align: right;
    font-size: 0;
}
.cPostWrite .mentions-input textarea {
    position: absolute;
}

.cPostWrite textarea {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: -1px;
    min-height: 75px;
    background: 0 0;
    resize: none;
}

input, textarea {
    color: #333;
    border-radius: 0;
    outline: 0;
}

<!---->

.noticeWrap {
    margin-bottom: 15px;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
    background: #FFF;
}
.noticeWrap .tit {
    position: relative;
    height: 43px;
    padding: 0 0 0 20px;
    line-height: 43px;
    background: #FDFDFD;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-decoration: none!important;
}
.noticeWrap .notice>li {
    position: relative;
    font-size: 14px;
}
.noticeWrap .notice>li>a {
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    text-overflow: ellipsis;
    position: relative;
    padding: 0 43px 0 20px;
    line-height: 50px;
    color: #333;
}

<!---->
.postout {
	margin-bottom: 3px;
}.cPost {
    margin-bottom: 15px;
    position: relative;
    background: #fff;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
}
.cPost {
    position: relative;
    background: #fff;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
}
.profileImg {
    position: absolute;
    left: 19px;
    top: 19px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
}
.cPost .postFunction .postSet {
    overflow: hidden;
    position: relative;
    text-indent: -400px;
    border: 0;
    width: 20px;
    height: 20px;
    background: 0 0;
}

<!-- -->



.uSectionTitle {
    font-size: 16px;
    line-height: 16px;
    color: #222;
    padding-bottom: 15px;
    text-align: left;
}
.count {
    margin-left: 5px;
    vertical-align: top;
    font-size: 16px;
    color: #FF1291;
}

.uSectionTitle+.titleAreaBtn {
    position: absolute;
    right: 0;
    top: -7px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 2px;
    line-height: 28px;
    text-align: right;	
}

.memberSection .subTitle {
    height: 30px;
    margin-bottom: -1px;
    line-height: 28px;
    text-indent: 22px;
    border: 1px solid #E5E5E5;
    border-left-color: #D5D5D5;
    border-right-color: #D5D5D5;
    border-bottom-color: #eee;
    background: #FDFDFD;
    color: #333;
}

.memberSection .cThumbList {
    /* margin-bottom: -1px; */
    border-bottom: 1px solid #D5D5D5;
      padding: 0 20px;
}

.cThumbList li {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 93px;
}
.cThumbList .profile {
    position: relative;
    width: 102px;
    font-size: 0;
    text-align: center;
}
.cThumbList .nameArea, .cThumbList .profile, .cThumbList .side {
    display: table-cell;
    vertical-align: middle;
}
.cThumbList .nameArea .name:first-child {
    display: inline-block;
    margin-right: 6px;
}
.cThumbList .nameArea .name {
    font-size: 14px;
    color: #333;
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    text-overflow: ellipsis;
}
.cThumbList .nameArea .labelAuth {
    display: inline-block;
    overflow: hidden;
    height: 17px;
    padding: 0 10px;
    line-height: 16px;
    color: #fff;
    background: #ccc;
    border-radius: 18px;
    vertical-align: top;
}
.cThumbList .nameArea .subtxt {
    display: block;
    font-size: 13px;
    color: #aaa;
}
.cThumbList .side {
    width: 120px;
    text-align: center;
    
}

.cThumbList .side .setting {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #ccc;
    
}
.icon-a-setting02:after, .icon-setting02:before, [data-icon-a=setting02]:after, [data-icon=setting02]:before {
    content: "\e996";
}

.titleSetting {
    overflow: hidden;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
    padding-left: 18px;
    color: #333;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    background: #f9f9fa;
}
.settingList {
    padding: 0 20px;
}

.settingList .listWrap, .settingList .side {
    display: table-cell;
    vertical-align: middle;
}

.settingList li {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    height: 70px;
    /* border-top: 1px solid #f0f0f0; */
}
.settingList .side{
width: 200px;
    text-align: center;
}

 #lnb{
 z-index: 101;
    position: fixed;
    width: 100%;
    min-width: 1024px;
    margin-top: 6	0px;
    height: 36px;
    left: 0;
    top: 50px;
    background: #fff;
    text-align: center;}

#lnb li {
    float: left;
    position: relative;
    min-width: 112px;
    text-align: center;
}
#lnb li a {
    display: block;
    height: 100%;
    padding: 0 5px;
    line-height: 36px;
    font-size: 14px;
}
#lnb li a:not(.on) {
    color: #333!important;
}
#lnb li a.on:before {
    display: block;
    font-weight: 700;
}
#lnb li a:before {
    content: '';
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 3px solid;
    border-top-color: inherit;
    font-size: 0;
}
#lnb:after {
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
    background: rgba(0,0,0,.1);
    content: '';
}